<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date and Time Offset</title>
</head>
<body>
    <h1>Current Date and Time:</h1>
    <p>{{ current_datetime }}</p>
    
    <h2>Date and Time Four Hours Ago:</h2>
    <p>{{ datetime_four_hours_ago }}</p>
    
    <h2>Date and Time Four Hours Ahead:</h2>
    <p>{{ datetime_four_hours_ahead }}</p>
    
    <h2>Date and Time Four Days Ago:</h2>
    <p>{{ datetime_four_days_ago }}</p>
    
    <h2>Date and Time Four Days Ahead:</h2>
    <p>{{ datetime_four_days_ahead }}</p>
</body>
</html>
